.coverage
.tox
build/
cover/
demo/sample-chain.*
demo/demo1.conf
demo/demo1.ini
demo/demo1.json
demo/demo2.ini
docs/_build/
MANIFEST
*.pyc
dist/
configman.egg-info/
configobj-5.*.*-py2.6.egg
six-1.*.*-py2.6.egg/
